
<link rel="stylesheet" href="../public/stylesheets/style.css">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/list"><h3>List of places</h3></a>
<a href="/create">Create a place</a>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCic_W37K03vOGT7u2Nw28e9sxHkRPvwjc"></script>

<script src="../public/javascripts/main.js"></script>

